@using System.Linq.Expressions;
@using Microsoft.JSInterop;
@inject IJSRuntime _js;
@model TextViewModel

@if (Model.IsFocused || !string.IsNullOrWhiteSpace(Model.Content))
{
    Model.ShowFloatingLabel = true;
}
else
{
    Model.ShowFloatingLabel = false;
}
<div class="box @(Model.IsFocused ? "focused" : "")">
    <label class="floating-label @(Model.ShowFloatingLabel ? "float" : "")">@Model.PlaceHolder</label>

    <input id="@Model.Id" class="@Model.ComputedClass"
           type="@Model.Type"/>
</div>

<script>
    function applyMask(elementId, mask) {
        const inputElement = document.getElementById(elementId);
        inputElement.addEventListener('input', function (event) {
            let value = event.target.value.replace(/\D/g, ''); // حذف کاراکترهای غیر عددی
            let formattedValue = '';

            // اعمال ماسک برای شماره تلفن
            if (mask === '(999) 999-9999' || mask === 'phone') {
                if (value.length <= 3) {
                    formattedValue = `(${value}`;
                } else if (value.length <= 6) {
                    formattedValue = `(${value.slice(0, 3)}) ${value.slice(3, 6)}`;
                } else {
                    formattedValue = `(${value.slice(0, 3)}) ${value.slice(3, 6)}-${value.slice(6, 10)}`;
                }
            }
            // اعمال ماسک برای تاریخ
            else if (mask === '9999/99/99' || mask === 'date') {
                if (value.length <= 4) {
                    formattedValue = value;
                } else if (value.length <= 6) {
                    formattedValue = `${value.slice(0, 4)}/${value.slice(4, 6)}`;
                } else {
                    formattedValue = `${value.slice(0, 4)}/${value.slice(4, 6)}/${value.slice(6, 8)}`;
                }
            }
            // اعمال ماسک برای قیمتها
            else if (mask === 'price') {
                let formatter = new Intl.NumberFormat("en-US");
                formattedValue = formatter.format(value);
            }
            // اعمال ماسک برای فقط اعداد
            else if (mask === 'number') {
                formattedValue = value;
            }
            else {
                formattedValue = event.target.value;
            }
            event.target.value = formattedValue; // قرار دادن مقدار فرمت شده در ورودی
        });
    }
</script>
